@tailwind base;
@tailwind components;
@tailwind utilities;


.sushi-background,
.about-us-header,
.reservations-header {
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
}

.sushi-background {
  background-image: url('./lib/images/home-header.jpeg');
  
}

.about-us-header {
  background-image: url('./lib/images/about-us-header.jpeg');
}

.reservations-header {
  background-image: url('./lib/images/reservations-header.jpeg');
}